deepspeed==0.9.2
importlib_metadata==6.7.0
lightning==2.0.2
loguru==0.7.0
miditok==2.0.6
miditoolkit==0.1.16
numpy==1.23.5
psutil==5.9.5
ray==2.4.0
setuptools==66.0.0
torch==2.0.1
torchtoolkit==0.0.4
tqdm==4.65.0
wandb==0.15.4
